# Database Configuration
DB_USER=your_database_user
DB_PASS=your_database_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_database_name

# LTI Configuration
LTI_KEY=your_lti_key_here
STATIC_PATH=../public
VIEWS_PATH=./views

# Server Configuration
PORT=3000

# Canvas Configuration
CANVAS_CLIENT_ID=your_canvas_client_id
CANVAS_DEPLOYMENT_ID=your_deployment_id
CANVAS_URL=your_canvas_url
# CANVAS_URL=your_ngrok_url_for_local_development